[Desktop Entry]
Name=qemu-android-x86
Comment=Android-x86 environment via QEMU and VirGL
Exec=/usr/bin/qemu-android-x86
Terminal=true
Icon=qemu-android-x86
Type=Application
Categories=Development;
